<p id="notice"><%= notice %></p>
<%=render template: "pages/img_hero" %>
<div class="container margin-bottom " id="explore">
<h1>Explore Art Pieces</h1>

<% @welcomes.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |welcome| %>
      <a href=""><div class="col-md-4">
      	<div class="img-artpiece">
	      <div class="image"> 
	      
	      	<%= link_to image_tag(welcome.picture_url, width: '100%'), welcome  if welcome.picture? %>	

	      		
	      </div>

		      <div class="artpiece-content">
			       <h4><%= link_to welcome.name, welcome %></h4>
			       <%= welcome.description %>
		       </div>

	    </div>

      </div></a>
    <% end %>
  </div>
<% end %>

<br>
</div>

